.add-ons {
  position: relative;

  &__top-buttons {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  h4 {
    background-color: var(--grey-dark-3);
    width: fit-content;
    padding: 0.2rem 0.3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  &__list-row {
    background-color: var(--grey-dark-4);
    border-radius: 0.3rem;
    border-top-left-radius: 0;
    padding: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    display: flex;

    &--completed th {
      color: var(--grey-light-4);
    }
  }

  &__list-row-content {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    max-width: 85%;
    align-items: center;
  }

  &__list-row-buttons {
    display: flex;
    gap: 0.5rem;
    place-items: center;
    margin: auto 0.5rem auto auto;
    flex-direction: column;
  }

  &__list-select {
    position: absolute;
    top: 0.78rem;
    left: 0;
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--grey-dark-3);
    z-index: 2;
    list-style: none;
    padding: 0.1rem 0.3rem;

    li {
      cursor: pointer;

      &:hover {
        color: var(--yellow-1);
      }
    }
  }
}
