.contacts-block {
  background-color: #585858;
  padding: 0.3rem;
  border: 2px solid black;
  border-radius: 0.3rem;

  &__header {
    display: flex;
    gap: 0.4rem;
    margin: -2.07rem 0 0.2rem 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
}
