.customer-search {
  display: flex;

  &__buttons {
    display: flex;
    gap: 0.25rem;
    height: fit-content;
    margin: 0.3rem 0.5rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  table tr {
    cursor: pointer;
  }

  &__selected-customer {
    color: var(--yellow-2);
  }

  h4, h3 {
    cursor: default;
  }
}

.customer-search-dialog {
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.3rem;

    button[type="submit"] {
      align-self: end;
      margin-bottom: 0.1rem;
    }
  }
}
