.customer-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10rem;

  @media (max-width: 1578px) {
    margin: 0 2rem;
  }

  &__header {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.3rem;
    position: relative;

    h2 {
      font-size: var(--font-xl);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
  }

  h2 {
    margin-bottom: 0.8rem;
    font-size: var(--font-xl);
  }

  &__sales-history {
    max-height: 10.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: fit-content;
  }
}


/* EDIT CUSTOMER DETAILS COMPONENT */

.edit-customer-details {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 1578px) {
    margin: 0 2rem;
  }

  &__header {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.3rem;
    position: relative;

    h2 {
      font-size: var(--font-xl);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: auto 1rem;
  }
}
