.customer-search {
  width: 100%;
  display: flex;

  &__buttons {
    display: flex;
    gap: 0.25rem;
    height: fit-content;
    margin: 0.3rem 0.5rem 0 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  table tr {
    cursor: pointer;
  }

  &__selected-customer {
    color: var(--yellow-2);
  }

  h4, h3 {
    cursor: default;
  }
}
