.layout {
  &__container {
    display: flex;
  }

  &__main-content {
    padding: 6.3rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 2rem);
  }
}
