.map-page {
  border: none;
  height: 90%;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;

  &__map {
    height: 100%;
    width: 100%;
  }

  &__right-side {
    min-width: 20%;
    max-height: 49.3rem;

    &-search {
      display: flex;
      gap: 0.3rem;
      align-items: end;

      button {
        margin-bottom: 0.4rem;
      }
    }
  }

  .map-locations {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--grey-light-1);
    padding: 0.5rem;
    overflow-y: auto;
    height: 100%;

    &__item {
      p {
        margin-bottom: 0.3rem;
      }
    }

    &__btn-container {
      display: flex;
      gap: 0.3rem;
    }
  }

  .gm-style-iw-a {
    color: var(--black-1);

    button[title="Close"] {
      position: absolute !important;
      top: -0.9rem;
      right: -0.9rem;
      transform: scale(0.75);
    }
  }

  .gm-style-iw-ch {
    padding-top: 22px;
  }
}
