.parts-search {
  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;

    &:hover {
      cursor: pointer;
    }
  }

  &-top-bar {
    display: flex;
    gap: 0.3rem;
    margin: 0.3rem 0;

    &__link {
      padding: 0.38rem;
      border: none;
      background-color: var(--grey-dark-3);
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 0.3rem;
      width: auto;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: var(--font-sm);
      font-weight: 600;
      
      &:hover {
        color: var(--yellow-2);
        text-decoration: none;
      }
    }
  }
  
  &__total-qty {
    color: var(--red-2);
  }
}

.parts-list {
  max-height: 37rem;
  overflow-y: auto;

  &__remarks {
    width: 100%;
    font-size: var(--font-xsm);
    max-height: 2.5rem;
    overflow-y: auto;
  }

  &__left-col {
    width: 6.5rem;

    button {
      padding: 0.26rem;

      &:hover {
        background-color: transparent;
      }
    }

    .button--danger img {
      padding-right: 0.05rem;
    }
  }

  &__left-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}

.new-part-dialog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 15rem;
  gap: 3rem;
}

.select-handwritten-dialog {
  max-height: 25rem;
  overflow-y: auto;
  transition: all ease-in-out 0.2s;

  &--selected {
    color: var(--yellow-2);
  }
  
  tbody tr {
    cursor: pointer;

    &:hover {
      color: var(--yellow-2);
    }
  }
}

.select-handwritten-form {
  padding: 0.5rem;

  &__inputs {
    display: flex;
    gap: 0.5rem;
  }

  [type="submit"] {
    margin-top: 0.3rem;
  }
}
