.pricing-changes {
  &__watch-btn {
    width: 100%;
    margin-bottom: 0 !important;
    vertical-align: middle;

    img {
      width: 20px;
    }
  }

  &__filter-btn {
    margin-bottom: 0 !important;
    margin-left: 0.3rem;
    vertical-align: middle;
  }
}
