.recent-part-searches, .recent-quotes {
  position: relative;
  z-index: 1;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
  }

  &__table-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 9rem;
    min-height: 7.3rem;
    max-width: 33rem;

    th, td {
      padding: 0.25rem;
      font-size: var(--font-xsm);
    }
  }
}
