.sales-end-of-day-dialog {
  &__top-buttons {
    display: flex;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  &__table-container {
    max-height: 30rem;
    overflow-y: auto;
  }

  table button {
    box-shadow: none;
  }
}
