.shipping-list {
  &__header {
    position: relative;
    margin-bottom: 1rem;
  }

  &__table-section {
    padding: 0.3rem 1rem;
    text-align: start;
    background-color: var(--grey-light-2);
    text-decoration: underline;
  }

  table {
    input {
      color: white;
      height: 100%;
      margin: 0;
    }
  }
}
