textarea {
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 0.3rem auto;
  resize: none;
  font-family: 'Segoe UI', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-area {
  &__grow-wrap {
    display: grid;

    &::after {
      content: attr(data-replicated-value) " ";
      white-space: pre-wrap;
      visibility: hidden;
    }

    & > textarea,
    &::after {
      padding: 0.5rem;
      font: inherit;
      grid-area: 1 / 1 / 2 / 2;
    }
  }

  &--auto-size { 
    overflow: hidden;
  }

  &--md-text {
    font-size: var(--font-md);
  }

  &--no-style {
    background-color: transparent;
    box-shadow: none;
  }

  &--label-stack {
    display: flex;
    flex-direction: column;
    text-align: start;

    input {
      margin: 0.2rem 0;
    }
  }

  &--label-no-stack {
    margin-left: 0.5rem;
  }

  &--label-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      margin: 0.3rem 0;
    }
  }

  &--label-full-width {
    width: 100%;
  }

  &--label-bold {
    font-weight: bold;

    textarea {
      font-weight: normal;
    }
  }

  &--label-inline {
    margin-left: 0.5rem;
  }

  &--label-no-margin {
    margin: 0;
  }

  &--label-fit-content {
    width: fit-content;
  }
}
