:root {
  --font-xxl: 3.125rem; /* 50px */
  --font-xl: 2.5rem; /* 40px */
  --font-lg: 1.5625rem; /* 25px */
  --font-md: 1.25rem; /* 20px */
  --font-sm: 1rem; /* 16px */
  --font-xsm: 0.875rem; /* 14px */
  --font-xxsm: 0.75rem; /* 12px */
  --font-xxxsm: 0.6875rem; /* 11px */
}

@font-face {
  font-family: barcode;
  src: url('/fonts/barcode.ttf');
}
