.handwritten-acct-template {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  
  * {
    font-size: var(--font-sm);
  }

  .table {
    font-size: 15px;

    th {
      background-color: white;
      color: black;
      padding: 0;
    }

    td {
      background-color: white;
      padding: 0 0.1rem;
      font-size: 15px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    
    td {
      border: 2px solid black;
      font-size: 15px;
      text-align: start;
    }

    .no-border {
      border-color: transparent;
    }
  }

  &__column {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
  
  &__row {
    display: flex;
    gap: 0.5rem;
  }

  &__top-section {
    display: flex;
    justify-content: space-between;
  }

  &__checkboxes {
    display: flex;
    gap: 2rem;
    align-items: center;

    img {
      height: fit-content;
    }
  }

  &__bottom-section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: auto;
    font-size: var(--font-sm);

    &--box-value {
      border: 1px solid var(--grey-light-2);
      padding: 1.5rem;
    }

    h2 {
      font-size: var(--font-lg);
    }
  }

  &__bottom-values {
    display: flex;
    font-size: 15px;
    width: 100%;
    justify-content: space-between;

    &--marketing {
      display: flex;
      gap: 1rem;
    }
  }
}
