.part-tag {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  font-size: 120px;
  width: 800vw;
  height: 200vh;
  position: relative;

  h1 {
    margin: 0;
    font-size: 1000px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 110px;
    width: fit-content;
    gap: 8rem;
    margin: auto auto 1rem;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__location {
    width: fit-content;
    transform: rotate(90deg);
    margin: 0;
  }

  &__barcode-container {
    position: relative;
    width: 6rem;
    margin: -8rem 0 0 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
  }

  &__barcode {
    transform: rotate(-90deg);
    font-family: barcode, Arial, Helvetica, sans-serif;
  }

  &__remarks {
    width: 60rem;
    text-align: center;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    position: absolute;
    bottom: 10rem;
  }

  &__date {
    font-size: 100px;
  }

  &__rating {
    font-weight: bold;
    font-size: 120px;
  }
}
