.part-tag {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  font-size: 60px;

  h1 {
    font-size: 170px;
    margin-top: 2.9rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      margin-top: 3rem;
    }
  }

  &__row {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    width: fit-content;
    gap: 8rem;
    margin: auto;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    margin-right: 18rem;
  }

  &__location {
    transform: rotate(90deg);
    padding: 0 0 3.5rem;
    height: 0;
  }

  &__barcode {
    transform: rotate(-90deg);
    position: absolute;
    right: -6rem;
    top: 0;
    bottom: 0;
  }

  &__remarks {
    width: 60rem;
    text-align: center;
    line-height: 4.5rem;
    font-size: 50px;
    margin-left: 0.7rem;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1380px;
    position: absolute;
    bottom: 0;
    left: 3rem;
  }

  &__date {
    font-size: 40px;
  }

  &__rating {
    font-weight: bold;
    font-size: 60px;
  }
}
