.part-tag {
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  font-size: 60px;
  width: 70%;
  height: 100vh;
  position: relative;

  h1 {
    margin: -10rem 0 0;
    font-size: 170px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      margin-top: -8.95rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 60px;
    width: fit-content;
    gap: 8rem;
    margin: auto auto 1rem;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__location {
    transform: rotate(90deg);
  }

  &__barcode-container {
    position: relative;
    width: 6rem;
    margin: -10rem 0 0 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
  }

  &__barcode {
    transform: rotate(-90deg);
    margin-top: 9rem;
  }

  &__remarks {
    width: 60rem;
    text-align: center;
    line-height: 4.5rem;
    font-size: 50px;
    margin-left: 0.7rem;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    position: absolute;
    bottom: 10.5rem;
  }

  &__date {
    font-size: 40px;
  }

  &__rating {
    font-weight: bold;
    font-size: 60px;
  }
}
