.po-template {
  header {
    text-align: center;

    img {
      width: 15rem;
    }

    h1 {
      margin-bottom: 1.3rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__border {
    border: 1px solid black;
    margin: 1rem 0;
  }
  
  .table {
    font-size: 14px;
    margin-top: 1rem;

    th {
      background-color: white;
      color: black;
      padding: 0 0.1rem;
    }

    td {
      background-color: white;
      padding: 0 0.1rem;
      font-size: 13px;
    }
  }
}
