.quotes-list-template {
  .table {
    margin-top: 1rem;

    th {
      background-color: white;
      color: black;
      padding: 0 0.1rem;
    }

    td {
      background-color: white;
      padding: 0 0.1rem;
      font-size: 13px;
    }
  }
}